.destination-conainer{
    display: flex;
}
.white-space{
    width: 2px;
    background-color: lawngreen;
}
.div-destin{
   
    width: 350px;
    padding: 10px;
    color: black;
}
.div-destin h4{
    color: rgb(1, 1, 31);
    text-align: center;
}
.dest-img{
    width: 300px;
    height: 150px;
}
.div-destin2{
    background-color: rgba(241, 185, 111, 0.705);
    width: 300px;
    padding: 10px;
    color: black;
}
.div-destin2 h4{
  text-align: center;
  
  color: rgb(247, 242, 242);
}
